/* .container {
  padding: 30px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  box-sizing: border-box;
} */

.container {
    padding: 30px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    box-sizing: border-box;
  position: relative;
  display: block;
  width: 30%;
  margin-left: 250px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI';
  font-size: 18px;
  color: #60666d;
}